{% extends 'base.html' %}

{% block title %}
    User Login
{% endblock %}

{% block content %}
<main class='form-signin w-350 m-auto' style='max-width:300px'>
    <form method='POST'>
    <div class="mb-3">
        <label for="Email" class="form-label">Email address</label>
        <input type="email" required class="form-control" id="email_id" name="email" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" required class="form-control" id="Password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    </form>
</main>
{% endblock %}
